
.encabezado{
  background: rebeccapurple;
  color: white;
  padding: .5rem 0;
}
.encabezado .container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.encabezado .logo img{
  width: 150px;
  height: auto;
}

/*Estilos para el boton: buscar y menu */
.boton-menu{
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0 .5rem;
  background: transparent;
  color: #fff;
}
.boton-menu:focus{
  outline: 0;
}

/*Estilos bloque buscar*/
#menu-principal{
  flex: 1 1 100%;
}
#menu-principal ul{
  padding: 0;
  list-style: none;
  margin: 1 rem 0 0 0;
}
#menu-principal ul a{
  display: block;
  padding:  .8rem 0 ;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border-top: 1px solid red;
  text-decoration: none;
}

#menu-principal ul a:hover{
  color: red;
}


