
.encabezado{
  background: rebeccapurple;
  color: white;
  padding: .5rem 0;
}
.encabezado .container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.encabezado .logo img{
  width: 150px;
  height: auto;
}

/*Estilos para el boton: buscar y menu */
.boton-buscar, .boton-menu{
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0 .8rem;
  background: transparent;
  color: #fff;
}