
.encabezado{
  background: #0753B5;
  color: white;
  padding: .5rem 0;
}
.bienvenidos{
  background:url("../images/inmobiliaria.jpg") no-repeat center top;
  color: #fff;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;

}
.encabezado .container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.encabezado .logo img{
  width: 150px;
  height: auto;
}

/*Estilos para el boton:menu */
.boton-menu{
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0 .5rem;
  background: transparent;
  color: #fff;
}
.boton-menu:focus{
  outline: 0;
}

/*Estilos bloque buscar*/
#menu-principal{
  flex: 1 1 100%;
}
#menu-principal ul{
  padding: 0;
  list-style: none;
  margin: 1 rem 0 0 0;
}
#menu-principal ul a{
  display: block;
  padding:  .8rem 0 ;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border-top: 1px solid red;
  text-decoration: none;
}

#menu-principal ul a:hover{
  color: red;
}
#menu-principal ul a:hover,
#menu-principal ul li.active a{
  color: red;
}

/*Inicio*/
.texto-encabezado{
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.texto-encabezado .display-4{
  margin-top:  4rem;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  margin-top: 1rem;
}
.flecha-bajar a{
  display: inline-block;
  color: #fff;
  font-size: 4rem; 
  animation: flecha-animado 2s ease-in-out infinite;
}

@keyframes flecha-animado{
  from{
    transform: translateY(0);
  }
  50%{
    transform: translateY(6px);
  }
  to{
    transform: translateY(0);
  }
}

/*--------------------------
SECCION AGENCIA
----------------------------*/
.agencia{
  background: #0753B5;
  color: #fff;
}

.agencia img{
  width: 80%;
  margin: 0 auto;
  display: block;
}
/*------------------
TU MEJOR ELECCION
--------------------*/
.tu-mejor-eleccion h2 span{
  color: #0753B5;
}
.tu-mejor-eleccion ul, 
.tu-mejor-eleccion ul li {
  list-style: none;
}
.tu-mejor-eleccion ul .fa {
  font-size: 2.3rem;
  background: #11b110;
  border-radius: 50%;
  width: 4.7rem;
  height: 4.7rem;
  line-height: 4.7rem;
  color: #fff;
}

.tu-mejor-eleccion ul li .contenedor-eleccion h4{
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: .8rem;
}

.tu-mejor-eleccion ul li {
  min-height: 9rem;

}

/*--------------------------
SECCION PIE DE PAGINA
-----------------------------*/
.piedepagina{
  background: #0753B5;
  color: #fff;
  text-align: center;
  font-size: .9rem;
}
 .piedepagina .redes-sociales{
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
 }
 .piedepagina .redes-sociales a{
  color: white;
  font-size: 2rem;
  margin: 0 .5rem;
  opacity: .7;
 }
 .piedepagina .redes-sociales a:hover{
 
  opacity: 1;
 }

 /*--------------------------
 EMPIEZA LAS MEDIAS QUERIES
 -------------------------*/
 @media (min-width:768px){
   #menu-principal{
     height: auto !important;
     display: block;
     flex: 0 1 auto;
     margin-left: auto;
     order: 1;
   }
   #menu-principal ul{
    display: flex;
    margin: 0 0 0 0;
  }
  #menu-principal ul li a{
    padding: .8rem;
    text-transform: capitalize;
    margin: 0 .3rem;
    border-top: 0px;
    border-bottom: 4px solid transparent;  
    transition: all .5s ease;
  }
  #menu-principal ul li.active a,
  #menu-principal ul li a:hover{
    color: red;
    border-bottom: 4px solid;

  }
 }

 @media (min-width:992px){
  html{
    font-size: 16px;
 }
 .tu-mejor-eleccion ul li {
  display: flex;
  min-height: 7rem;
}
.tu-mejor-eleccion ul .fa {
  text-align: center;
  flex: 0 1 auto;
  margin-right: 1rem;
}
.tu-mejor-eleccion ul li:hover .fa {
  transform: rotateY(360deg);
  transform-style: preserve-3d;
  background: #12AFAF;
}
.contenedor-eleccion{
  flex: 1 0 0px;
}
.tu-mejor-eleccion ul li .contenedor-eleccion h4 {
  margin-top: 0;
  font-size: 1rem;
}
.tu-mejor-eleccion ul:first-child .fa{
  order: 1;
  margin-left: 1rem;
  margin-right: 0;
}

.tu-mejor-eleccion ul li p {
  font-size: .85rem;
}





}


